.basic-grid-fit {
	display: grid;
	gap: 1rem;

	grid-auto-rows: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.basic-grid-fill {
	display: grid;
	gap: 1rem;
	
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}