body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
	display: grid;
	gap: 2rem;

	grid-template-rows: repeat(auto-fit, 1fr);
	grid-template-columns: 200px;
}

a {
	padding: 0.5rem !important;
	
	font-size: 1rem !important;
}

a:hover {
	box-shadow: rgba(108, 113, 204, 0.6) 0px 0.35em 1.175em;
	
	transform: translateY(-3px) scale(1.05);
}