.photo-grid {
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px; /* Rows will always be 240px */
}

/* Medium screens */
@media screen and (min-width: 600px) {
	.card-tall {
		grid-row: span 2 / auto; /* start / end => In this case it'll span across 2 rows and end automatically. */
	}
	
	.card-wide {
		grid-column: span 2 / auto;
	}
}