:root {
	--clr-primary-200: hsl(184, 68%, 54%);
	--clr-primary-400: hsl(184, 71%, 26%);
	--clr-primary-600: hsl(192, 36%, 21%);

	--clr-secondary-400: hsl(280, 22%, 49%);

	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-800: hsl(0, 0%, 23%);

	--fw-regular: 400;
	--fw-bold: 900;

	--ff-primary: 'Roboto', sans-serif;

	--fs-400: 1rem;
	--fs-500: 1.3125rem;
	--fs-700: 2.25rem;
	--fs-900: 3rem;
}

*,
*::after,
*::before { box-sizing: border-box; }

html,
body {
	height: 100%;
	font-family: var(--ff-primary);
	margin: 0;
	padding: 0;
	font: inherit;
}


/* UTILITY CLASSES */
/* Layout */
.container { max-width: 44rem; }

.even-columns { 
	display: flex;
	gap: 1rem;
}

/* Background */
.bg-primary-600 { background-color: var(--clr-primary-400);}
.bg-primary-400 { background-color: var(--clr-primary-400);}

/* Typography */
.fw-bold { font-weight: var(--fw-bold);}
.fw-regular { font-weight: var(--fw-regular);}

.text-center { text-align: center; }

.fc-neutral-800 { color: var(--clr-neutral-800); }
.fc-neutral-100 { color: var(--clr-neutral-100); }

.fs-primary-heading { 
	line-height: 1.1;
	font-size: var(--fs-900);
}

.fs-secondary-heading {
	line-height: 1.1;
	font-size: var(--fs-700);
}

.fs-400 { font-size: var(--fs-400) ;}
.fs-500 { font-size: var(--fs-500) ;}