:root {
	--clr-primary-200: hsl(184, 68%, 54%);
	--clr-primary-400: hsl(184, 71%, 26%);
	--clr-primary-600: hsl(192, 36%, 21%);

	--clr-secondary-400: hsl(280, 22%, 49%);

	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-800: hsl(0, 0%, 23%);

	--fw-regular: 400;
	--fw-semi-bold: 700;
	--fw-bold: 900;

	--ff-primary: 'Roboto', sans-serif;

	--fs-300: 1rem;
	--fs-400: 1.3125rem;
	--fs-700: 2.25rem;
	--fs-900: 3rem;

	--size-400: 1rem;
	--size-500: 2rem;
	--size-600: 3rem;
	--size-700: 4rem;
	--size-800: 5rem;
	--size-900: 6rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--ff-primary);
}

img { max-width: 100%; }

/* Intro */
.intro__info { width: 50%; }

.intro__info h1 { margin: 0 auto; }

.intro__info p { opacity: .8; }

.btn {
	border: 0;
	border-radius: 100vmax;

	padding: 0.75em 2.1em;

	background-color: var(--clr-primary-200);

	cursor: pointer;
}

.btn:is(
	:hover, :focus-within
) { background-color: hsl(184, 58%, 47%); }

.intro__img { 
	width: 35%;
	align-self: flex-start;
}


/* UTILITY CLASSES */
/* Layout */
.container {
	--max-width: 80rem;
	--container-padding: 4rem;

	max-width: min(
		var(--max-width),
		100% - (var(--container-padding) * 2)
	);
	margin-inline: auto;
}

.row {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

/* Background */
.bg-primary-200 { background-color: var(--clr-primary-200); }
.bg-primary-400 { background-color: var(--clr-primary-400); }
.bg-primary-600 { background-color: var(--clr-primary-600); }


/* Typography */
.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.text-center { text-align: center; }

.text-uppercase { text-transform: uppercase; }

.fc-neutral-100 { color: var(--clr-neutral-100); }
.fc-neutral-800 { color: var(--clr-neutral-800); }

.fc-primary-400 { color: var(--clr-primary-400); }

.fs-400 { font-size: var(--fs-400); }

.fs-primary-heading {
	line-height: 1.1;
	font-size: var(--fs-900);
}

.fs-secondary-heading {
	line-height: 1.1;
	font-size: var(--fs-700);
}

/* Spacing */
.padding-block-400 { padding-block: var(--size-400); }
.padding-block-600 { padding-block: var(--size-600); }
.padding-block-800 { padding-block: var(--size-800); }

.padding-inline-700 { padding-inline: var(--size-700); }

.padding-block-end-600 { padding-block-end: var(--size-600); }