:root {
	--clr-primary-200: hsl(184, 68%, 54%);
	--clr-primary-400: hsl(184, 71%, 26%);
	--clr-primary-600: hsl(192, 36%, 21%);

	--clr-secondary-400: hsl(280, 22%, 49%);

	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-800: hsl(0, 0%, 23%);

	--fw-regular: 400;
	--fw-semi-bold: 700;
	--fw-bold: 900;

	--ff-primary: 'Roboto', sans-serif;

	--fs-400: 1rem;
	--fs-500: 1.3125rem;
	--fs-600: 2.25rem;
	--fs-700: 3rem;

	--size-400: 1rem;
	--size-500: 2rem;
	--size-600: 3rem;
	--size-700: 4rem;
	--size-800: 5rem;
	--size-900: 6rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--ff-primary);
}



/* UTILITY CLASSES */
/* Layout */
.container {
	--max-width: 90rem;
	--container-padding: 2rem;

	max-width: min(
		var(--max-width),
		100% - (var(--container-padding) * 2)
	);
	margin-inline: auto;
}

.row {
	display: flex;
	gap: 1rem;
}

/* Background */
.bg-primary-200 { background-color: var(--clr-primary-200); }
.bg-primary-400 { background-color: var(--clr-primary-400); }
.bg-primary-600 { background-color: var(--clr-primary-600); }


/* Typography */
.fw-regular { font-weight: var(--fw-regular); }
.fw-semi-bold { font-weight: var(--fw-semi-bold); }
.fw-bold { font-weight: var(--fw-bold); }

.text-center { text-align: center; }

.text-uppercase { text-transform: uppercase; }

.fc-neutral-100 { color: var(--clr-neutral-100); }
.fc-neutral-800 { color: var(--clr-neutral-800); }

.fc-primary-400 { color: var(--clr-primary-400); }

.fs-primary-heading {
	line-height: 1.1;
	font-size: var(--fs-900);
}

.fs-secondary-heading {
	line-height: 1.1;
	font-size: var(--fs-700);
}